{% load staticfiles %}
{% include 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'img/django-icon.png' %}">
    <title>{% block head_title %}{{ instance.title }} | first project {% endblock head_title %}</title>


</head>
<body>
{% include 'navbar.html' %}

<!-- Page Content -->
<div class="container">
    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <!-- Blog Post -->
            <div class="thumbnail">
            <!-- Title -->
            <h1>{{ instance.title }}</h1>

            <!-- Date/Time -->
            <p>{{ instance.created }}</p>

            <!-- Preview Image -->
            <img class="img-responsive" src="{{ instance.image.url }}" alt="">

            <!-- Post Content -->
            <p>{{ instance.content|linebreaks }}</p>
            <a class="btn btn-primary" href="{% url 'blog' %}">Go Back <span></span></a>
            </div>
        </div>
    </div>
</div>


</body>
</html>


