
 <!-- Main component for a primary marketing message or call to action -->
     <div class="jumbotron">
       <div class="container">
        <div class="row">
        <div class="col-sm-6">
        <h1>First Project</h1>
        <p>I am a future web application developer(hopefully). This is my first project. I work with Django, being a Python framework. For front-end I use Bootstrap, JQuery and Ajax.
        <!--<p>-->
        <!--<a class="btn btn-lg btn-danger" href="">Join me</a>-->
        <!--</p>-->
        </div>
        <div class="col-sm-6">
          <div class="embed-responsive embed-responsive-16by9">
          <iframe width="510" height="315" src="https://www.youtube.com/embed/v2g_jp9sfEo" frameborder="0" allowfullscreen></iframe>
        </div>
          </div>
        </div>
        </div>
    </div> <!-- /container -->

